body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.music-player {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

h1 {
    color: # 0333;
}

audio {
    width: 100%;
    margin: 20px 0;
}

.progress-bar {
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.progress {
    background-color: # 007BFF;
    height: 100%;
    border-radius: 5px;
    width: 0;
}

.controls button {
    background-color: # 007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:hover {
    background-color: # 0056b3;
}